#navbar {
    background-color: black;
    height: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#navbar__image {
    max-width: 400px;
    height: auto;
}