.hero__list__container {
    margin: 20px 0;
    text-align: center;
}

#hero__list__title {
    margin: 50px 0;
}

.list {    
    width: 100%;
    display: flex;
    justify-content: center;    
    flex-wrap: wrap; 
    gap: 20px;    
}